<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thmeleaf.org">

<head th:replace="fragments/head :: taghead"></head>
<!--<head>
	<title th:text="#{addclient.titre}">Creation client</title>
	<link rel="stylesheet" href="@{/css/style.css}">
-->
</head>

<body>
	<header th:replace="fragments/header :: tagheader"></header>

	<h1 th:text="#{addclient.titre}">HOME</h1>

	<form class="row g-3" th:action="@{/banque/client/add}" th:object="${clientForm}" method="post">
		<div class="col-md-6">
			<label th:text="#{client.nom}"></label>
			<input type="text" class="form-control" th:field="*{nom}">
		</div>
		<br>
		<div class="col-md-6">
			<label th:text="#{client.prenom}"></label>
			<input type="text" class="form-control" th:field="*{prenom}">
		</div>
		<br>
		<div class="col-md-6">
			<label th:text="#{client.datedenaissance}"></label>
			<input type="date" class="form-control" th:field="*{dateNaissance}">
		</div>
		<br>
		<label th:text="#{client.adresse}"></label>
		<br>
		<div class="col-md-6">
			<label th:text="#{client.adresse.numero}"></label>
			<input type="text" class="form-control" th:field="*{adresse.numero}">
		</div>
		<br>
		<div class="col-md-6">
			<label th:text="#{client.adresse.rue}"></label>
			<input type="text" class="form-control" th:field="*{adresse.rue}">
		</div>
		<br>
		<div class="col-md-6">
			<label th:text="#{client.adresse.codepostal}"></label>
			<input type="text" class="form-control" th:field="*{adresse.codePostal}">
		</div>
		<br>
		<div class="col-md-6">
			<label th:text="#{client.adresse.ville}"></label>
			<input type="text" class="form-control" th:field="*{adresse.ville}">
		</div>
		<br>
		<div class="col-md-6">
			<label th:text="#{client.banque}"></label>

			<!--		<input type="text" th:field="*{banque.id}"> -->
			<!--		<input type="text" th:field="*{banque.nom}"> -->
			<select th:field="*{banque}" class="form-control">
				<option value="">sélectionner une banque</option>
				<option th:each="banque : ${banques}" th:value="${banque.id}" th:text="${banque.nom}"></option>

			</select>
		</div>

		<br>
		<div class="col-md-6">
			<button type="button" class="btn btn-danger" value="Create" th:text="#{bouton.creation}">
		</div>
	</form>
	<a th:href="@{/banque/listeclients}">Retour</a>

	<footer th:replace="fragments/footer :: tagfooter"></footer>
</body>

</html>