<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thmeleaf.org">

<head th:replace="fragments/head :: taghead"></head>
<!--<head>
	<title th:text="#{detailclient.titre}"></title >
	<link rel="stylesheet" href="@{/css/style.css}">
-->
</head>

<body>
	<header th:replace="fragments/header :: tagheader"></header>
	
	<h1 th:text="#{detailclient.titre}">HOME</h1>

	<form th:action="@{/banque/client/update}" th:object="${client}" method="post">

		<label th:text="#{client.nom}">nom : </label>
		<input type="text" th:field="*{nom}">
		<br>
		<label for="prenom">prenom : </label>
		<input type="text" th:field="*{prenom}">
		<br>
		<label for="dateNaissance">date de naissance : </label>
		<label th:text="${#dates.format(client.dateNaissance, 'yyyy-MM-dd')}"></label>
		<label> modifier : </label>
		<input type="date" th:field="*{dateNaissance}">
		<br>
		<label for="adresse">adresse : </label>
		<label type="text" size="50" th:text="*{adresse}"></label>
		<input type="hidden" th:field="*{adresse.numero}">
		<input type="hidden" th:field="*{adresse.rue}">
		<input type="hidden" th:field="*{adresse.codePostal}">
		<input type="hidden" th:field="*{adresse.ville}">
		<br>
		<label for="banque">banque : </label>
		<label type="text" th:text="*{banque}"></label>
		<input type="hidden" th:field="*{banque.id}">
		<input type="hidden" th:field="*{banque.nom}">
		<input type="hidden" th:field="*{id}">
		<br>
		<input type="submit" value="Update">
	</form>
	<a th:href="@{/banque/listeclients}">Retour</a>


</body>

</html>